
<!--<svg id="hhh" width="190" height="160" xmlns="http://www.w3.org/2000/svg">
    and
    <path d="M 100 70 h 10 C  140 70, 140 110, 110 110 h-10 z" stroke="black" fill="transparent" />
    not
    <polygon points="90 40 120 20 90 0 90 40" stroke="black" fill="transparent"></polygon>
    <circle cx='128' cy='20' r='8' stroke='black' fill='transparent' /> 
    or
    <path d="M 0 0 h 25 C 35 10,  35 30, 25 40 h -25 " stroke="black" fill="transparent" />
    <path d="M 0 0 C 10 -10,  10 -30, 0 -40" stroke="black" fill="transparent" /> 
    line
    <polyline points="32 22 60 22 60 50 90 50" stroke='black' fill='transparent'></polyline>
            <polyline points="32 22 60 22 60 -6 90 -6" stroke='black' fill='transparent'></polyline>
    char
    <text x="50" y="50"stroke='black' font-size="40">x</text>
</svg>-->

